appopener==1.6
customtkinter==5.1.2
nltk==3.8.1
psutil==5.9.4
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
pytesseract==0.3.10
pyttsx3==2.90
screen_brightness_control==0.18.0
sounddevice==0.4.5
vosk==0.3.45
word2number==1.1
